body {
    background-color: cornflowerblue;
}
  
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0px;
    font-size: 3rem;
}

form {
    display: inline-block ;
    justify-content: center;
    align-content: center;
}

.text {
    min-width: 20vw;
}

.movie-container{
    display: flex;
    flex-wrap: wrap;
}

.entry{
    flex-basis: 30vw;
    position: relative;
}

.removal{
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: .5rem;
}