{% extends 'base.html' %}

{% block title %}Edit a User{% endblock %}

{% block content %}
<h1>Edit a User</h1>

<form class="form-container" action="/users/{{user.id}}/edit" method="POST">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" value="{{user.first_name}}">

    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" value="{{user.last_name}}">

    <label for="img-url">Image URL</label>
    <input type="text" name="img-url" value="{{user.image_url}}">
    
    <div class="button-container">
        <a href="/users/{{user.id}}" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}