{% extends 'base.html' %}

{% block title %}{{user.get_full_name()}}{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="image-container">
        <img src="{{user.image_url}}" alt="{{user.get_full_name()}}" class="scaled-img">
    </div>
    <div class="info-container">
        <h1 class="user">{{user.get_full_name()}}</h1>
        <div class="button-container">
            <a href="/users/{{user.id}}/edit"><button class="btn btn-primary">Edit</button></a>
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}