{% extends 'base.html' %}

{% block title %}{{user.get_full_name()}}{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="image-container">
        <img src="{{user.image_url}}" alt="{{user.get_full_name()}}" class="scaled-img">
    </div>
    <div class="info-container">
        <h1 class="user">{{user.get_full_name()}}</h1>
        <div class="button-container">
            <a href="/users/{{user.id}}/edit"><button class="btn btn-primary">Edit</button></a>
            <form action="/users/{{user.id}}/delete" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <h3>Posts</h3>
        <div class="post-container">
            <ul>
                {%for post in posts %}
                {% if user.id == post.user_id %}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <a href="/users/{{user.id}}/posts/new"><button class="btn btn-primary">Add Post</button></a>
        </div>
    </div>
</div>
{% endblock %}