{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="form-container">
    <h1>{{post.title}}</h1>

    <p>{{post.content}}</p>
    <h6><i>By {{user.get_full_name()}}</i></h6>
</div>
<div class="button-container">
    <a href="/users"><button class="btn btn-light">Cancel</button></a>
    <a href="/posts/{{post.id}}/edit"><button class="btn btn-primary">Edit</button></a>
    <form action="/posts/{{post.id}}/delete" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
{% endblock %}