.CardTable {
    background-color: green; 
    height: 100vh;
    width: 100vw;
}

.CardTable-button {
    margin: 5px;
}

.CardTable-alert {
    background-color: red;
    border-radius: 10px;
    color:  #fff;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 30vw;
    box-shadow: 10px 5px 5px darkgreen;
}
